@model IEnumerable<WebApplication1.Models.Incomes>

@{
    ViewData["Title"] = "Index";
}

<div class="containerExIn bgIncomes">

    <h1 class="titleExIn">Incomes</h1>

    <form method="get" asp-action="Index">
        <p>
            <input type="search" placeholder="Type Open Text For Description ..." value="@ViewData["AccountDetails"]" name="AccountSearch" style="width:500px" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-action="Index">Get All Incomes</a>
        </p>
    </form>

    <table class="table">
        <thead class="myThead">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody class="myTbody">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit colorWhite"></i></a> |

                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-calendar-times colorWhite"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src ="~/js/site.js"></script>
<a class="addBtnExIn" asp-action="Create"><i class="fas fa-plus-circle lg iconStyleExIn"></i> Add New Income</a>
