@model IEnumerable<WebApplication1.Models.Account>

@{
    ViewData["Title"] = "Index";
}



<div class="myAccountContainer container" >
    <div class="row">
        <div class="col-sm">
            <span class="userImg"> <i class="far fa-user-circle fa-10x"></i> </span>
            <h1 class="userName">@ViewBag.Username.ToUpper() </h1>
            <div class="contentAccount">
                <i class="fas fa-wallet yellowColor"></i> Your updated @Html.DisplayNameFor(model => model.Balance) is:  @ViewBag.Balance₪

                <br /> <br />

                <i class="fas fa-wallet yellowColor"></i> Your updated @Html.DisplayNameFor(model => model.SavingBalance) is: @ViewBag.SavingBalance₪
            </div>
        </div>


        @* <div class="container-fluid padding">
                <div class="row padding">
                    <div class="col-lg-6">
                        <a asp-controller="Incomes" asp-action="Index">Incomes</a>
                    </div>
                    <div class="col-lg-6">
                        <a asp-controller="Expenses" asp-action="Index">Expenses</a>
                    </div>
                </div>
            </div>*@

        <div class="buttons col-sm">
            <a class="incomesBtn actionBtn" asp-controller="Incomes" asp-action="Create">
                <i class="fas fa-plus-circle"></i> Add Income
            </a>

            <a class="expenssesBtn actionBtn" asp-controller="Expenses" asp-action="Create">
                <i class="fas fa-minus-circle"></i>Add Expense
            </a>

            <a class="FuturepBtn actionBtn" asp-controller="FuturePayments" asp-action="Create">
                <i class="fas fa-user-shield" ></i>Add Future Payment
            </a>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById('add_type').addEventListener('input', buildDescription);
    });
    function buildDescription(ev) {
        let select = ev.target;
        console.log(select);
    }
    function getSelectedSign() {
        var sign = document.getElementById("description");
        console.log(sign.nodeValue);
        //if (sign == "+") {
        //}
    }
</script>