@model IEnumerable<WebApplication1.Models.Account>

@{
    ViewData["Title"] = "Index";
}

<style>
    .actionBtn {
        font-size: 1.5rem;
        color: white;
        justify-content: center;
        text-align: center;
        font-weight: bold;
        width: 40%;
        border: 1px solid gray;
        box-shadow: 2px 2px 10px #888888;
        border-radius: 5px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-bottom: 40px;
        margin-top: 40px;
        min-width: 250px;
        padding-top: 5px;
        transition: width 1s;
    }
    .incomesBtn {

        background-color: #38E2A9;

    }
    .expenssesBtn {

        background-color: #D93E48;

    }
    .FuturepBtn {
        background-color: #609BEB;
    }
    .actionBtn:hover {
        width:280px;
        color: white;
        text-decoration: none;
    }
    .myContainer {
        color: white;
        font-size: 1.5rem;

       @* background-image: linear-gradient(to bottom right,red, blue );
        background-position: top;
        background-size: 100% 113px;
        background-repeat: no-repeat;*@
    }
    .userName {
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 40px;
        text-align: left;
        padding-top:30px;
    }
    .buttons {


    }
    .userImg {
        padding-top: 40px;
        padding-bottom:30px;
        text-align: left;
    }
    .content {
        text-align:left;

    }
    .yellowColor {
       color: #FFE048;
    }
</style>

<div class="myContainer container">
    <div class="row">
        <div class="col-sm">
            <span class="userImg"> <i class="far fa-user-circle fa-10x"></i> </span>
            <h1 class="userName">@ViewBag.Username.ToUpper() </h1>
            <div class="content">
                <i class="fas fa-wallet yellowColor"></i> Your updated @Html.DisplayNameFor(model => model.Balance) is:  @ViewBag.Balance₪

                <br /> <br/>

                <i class="fas fa-wallet yellowColor"></i> Your updated @Html.DisplayNameFor(model => model.SavingBalance) is: @ViewBag.SavingBalance₪
            </div>
        </div>


        @* <div class="container-fluid padding">
                <div class="row padding">
                    <div class="col-lg-6">
                        <a asp-controller="Incomes" asp-action="Index">Incomes</a>
                    </div>
                    <div class="col-lg-6">
                        <a asp-controller="Expenses" asp-action="Index">Expenses</a>
                    </div>
                </div>
            </div>*@

    <div class="buttons col-sm">
        <a class="incomesBtn actionBtn" asp-controller="Incomes" asp-action="Create">
            <i class="fas fa-plus-circle"></i> Add Income
        </a>

        <a class="expenssesBtn actionBtn" asp-controller="Expenses" asp-action="Create">
            <i class="fas fa-minus-circle"></i>Add Expense
        </a>

        <a class="FuturepBtn actionBtn">
            <i class="fas fa-user-shield"></i>Add Future Payment
        </a>
    </div>
    </div>
</div>

<script>

    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById('add_type').addEventListener('input', buildDescription);
    });

    function buildDescription(ev) {
        let select = ev.target;
        console.log(select);
    }

    function getSelectedSign() {

        var sign = document.getElementById("description");
        console.log(sign.nodeValue);
        //if (sign == "+") {

        //}
    }
</script>